.findUsers {
  padding: 3rem;
}

.search {
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid var(--gray-500);
  resize: none;
  background-color: var(--gray-600);
  color: var(--gray-50);
}

.search::placeholder {
  color: var(--gray-50);
}

.title {
  font-size: 3rem;
}
.userList {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}