.findUsers {
  padding: 3rem;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid var(--gray-500);
  resize: none;
  background-color: var(--gray-600);
  color: var(--gray-50);
}

.search::placeholder {
  color: var(--gray-50);
}

.title {
  font-size: 3rem;
}
.userList {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}

.pages {
  display: flex;
  justify-self: flex-end;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.selectedPage {
  font-weight: 700;
  border-bottom: 2px solid var(--gray-50);
  cursor: pointer
}

.page {
  cursor: pointer
}

.showMore {
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 100%
}
