.input {
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    border: 1px solid var(--gray-500);
    resize: none;
    background-color: var(--gray-600);
    color: var(--gray-50);
}

.input::placeholder {
    color: var(--gray-50);
}

.formControl {
    position: relative;
    width: 100%;
}


.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    display: block;
    position: absolute;
    bottom: -2rem;
    left: 1rem;
    color: red;
    font-size: 1.6rem;
}

