.dialogs {
  width: 100%;
  height: 100%;
  max-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.dialogsItems {
  height: 100%;
  border-right: 1px solid var(--gray-400);
  grid-column: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* "auto" или "thin" */
  scrollbar-color: var(--gray-800) var(--gray-700);
  /* цвет бегунка и зоны отслеживания */
}

.dialog {
  position: relative;
  display: flex;
  max-height: 70px;
  max-width: 100%;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--gray-400);
  cursor: pointer;
}

.dialog:has(.active) {
  background-color: var(--gray-600);
}

.dialog:hover {
  background-color: var(--gray-600);
}

.dialogAva {
  width: 50px;
  min-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  outline: 1px solid var(--gray-100)
}

.dialogBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialogName {
  font-weight: 600;
  font-size: 1.4rem;
  width: fit-content;
  max-width: 72%;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.msgPreview {
  scrollbar-width: 0;
  max-height: 40px;
  width: fit-content;
  max-width: 72%;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
  /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
  background: #fff;
  /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #050c26;
  /* Цвет бегунка */
  border-radius: 20px;
  /* Округление бегунка */
  border: 3px solid #050c26;
  /* Оформление границ бегунка */
}

.messages {
  display: flex;
  height: fit-content;
  flex-direction: column;
  grid-column: 2;
}

.title {
  margin: 1.5rem 0 0 0;
  padding: 1.5rem;
  width: 100%;
  font-size: 2rem;
  border-bottom: 1px solid var(--gray-400);
  line-height: 1;
}

.messagesArea {
  height: 50vh;
  max-height: 50vh;
  flex-grow: 1;
  padding: 1.5rem;
  background-image: url(./messages_bg.svg);
  background-size: 160px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* "auto" или "thin" */
  scrollbar-color: var(--gray-800) var(--gray-700);
  /* цвет бегунка и зоны отслеживания */
}

.message {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: flex-start;
}

.selfMessage {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: flex-end;
}

.messageAva {
  width: 50px;
  min-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  outline: 1px solid var(--gray-100)
}

.messageText {
  background-color: var(--gray-700);
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

.newMessage {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid var(--gray-400);
}

.newMessageArea {
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid var(--gray-500);
  resize: none;
  background-color: var(--gray-600);
  color: var(--gray-50);
}

.newMessageArea::placeholder {
  color: var(--gray-50);
}

.sendMessage {
  font-size: 1.6rem;
}