.dialogs {
  display: flex;
  height: 80vh;
}
.contacts {
  flex-grow: 1;
  border-right: 1px solid var(--gray-100);
}

.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.title {
  margin: 1.5rem 0 0 0;
  padding: 1.5rem;
  width: 100%;
  font-size: 2rem;
  border-bottom: 1px solid var(--gray-100);
  line-height: 1;
}

.messagesArea {
  flex-grow: 1;
  padding: 1.5rem;
  background-image: url(./messages_bg.svg);

}

.newMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid var(--gray-100);
}



.newMessageArea {
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid var(--gray-500);
  resize: none;
  background-color: var(--gray-600);
  color: var(--gray-50);
}

.newMessageArea::placeholder {
  color: var(--gray-50);
}

.sendMessage {

}